# Android Studio / Gradle
.gradle/
*.iml

# IDEA (keep useful configs)
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

# Build output
build/
captures/
.externalNativeBuild/
.cxx/
out/

# Local configuration
local.properties

# OS files
.DS_Store

# Packaged outputs
*.apk
*.aab

# Logs / temp
*.log
*.tmp
*.swp

# Security
*.jks
*.keystore

# Kotlin
*.kotlin_module